--extra-index-url https://pypi.ngc.nvidia.com
numpy
opencv-python
prettytable
torch==1.12.1
torchvision==0.13.1
onnx==1.12.0
onnxruntime
tqdm
pyyaml
xlsxwriter
pycocotools
ultralytics
onnx_graphsurgeon==0.3.27
transformers
jinja2
loguru