--extra-index-url https://pypi.ngc.nvidia.com
numpy
opencv-python
prettytable
torch
torchvision
onnx
onnxruntime
tqdm
pyyaml
xlsxwriter
pycocotools
ultralytics
onnx_graphsurgeon
transformers
jinja2
loguru
modelscope
gitpython