pandas
numpy
torch==2.4.1 
torchvision==0.19.1
torchaudio==2.4.1
prettytable
onnx==1.18.0
onnxsim
onnxruntime
onnx_graphsurgeon
pyyaml
requests
tqdm
modelscope
transformers>=4.51.0
loguru
pybind11
opencv-python
ultralytics
pycocotools
tabulate
xlsxwriter
wheel
