--extra-index-url https://mirrors.ustc.edu.cn/pypi/simple/
qwen_asr
compressed_tensors
transformers==4.57.6
onnx==1.16.2
onnx_graphsurgeon==0.5.8
onnx-ir==0.1.14
onnxruntime==1.23.2
onnxscript==0.5.7
onnxsim==0.4.36
onnxslim==0.1.82