# opencv-python-headless
wheel
numpy
prettytable
onnx
onnxsim
onnxruntime
pycocotools
pandas
pillow
pyyaml
psutil
pybind11
tabulate
xlsxwriter
openpyxl
torch>=2.4.0
torchvision>=0.19.0
evalscope==1.9.1
pydantic==2.12.5
