# hmquant-xh1
# houmo-tcim-xh1
# houmo-tcim-runtime-xh1
# opencv-python-headless
wheel
numpy
prettytable
onnx
onnxsim
onnxruntime
pycocotools
pillow
pyyaml
pybind11
tabulate
xlsxwriter
torch>=2.4.0
torchvision>=0.19.0
